@import '../../styles.scss';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';


h1 {
    color: $secondColor;
    font-size: 32px;
    font-weight: 600;
    margin-top: 16px;
}

.line{
    height: 2px;
    width: 100%;
    background-color: $secondColor;
}

.order-container {
    @include displayFlex(space-between, center);
    border: 2px solid $mainColor;
    border-radius: 16px;
    background-color: #002435;
    padding: 16px;
    margin-top: 16px;
    position: relative;



    .text-container {
        width: 35%;
    }
}

.price {
    font-size: 14px;
    font-weight: 400;
    min-width: 100px;
    display: flex;
}

.total {
    font-size: 16px;
    font-weight: 700;
}

.date {
    position: absolute;
    bottom: 16px;
    right: 16px;
}