<h1>Orders</h1>
<div class="line"></div>

@for (order of orders; track $index) {
            <div class="order-container">
        
                <div class="text-container">
                    <h2>{{ order.amount }}x {{ order.title }}</h2>
                    <p>{{ order.description }}</p>
                </div>
        
                <div>
                    <span class="total">{{ order.priceString }}€</span>
                </div>
        
                <span class="date">{{ firebaseService.getDate(order.orderTimeStamp) }}</span>
            </div>
}