<h1>Orders</h1>
<div class="line"></div>

@for (order of orders; track $index) {
            <div class="order-container">
                <div class="total">
                    {{ order.amount }}x
                </div>
        
                <div class="text-container">
                    <h2>{{ order.title }}</h2>
                    <p>{{ order.description }}</p>
                </div>
        
                <div>
                    <span class="price">{{ addDecimalNumbers(order.price) }}€</span>
                </div>
        
                <div>
                    <span class="total">{{ addDecimalNumbers(order.price * order.amount) }}€</span>
                </div>
        
                <span class="date">{{ firebaseService.getDate(order.orderTimeStamp) }}</span>
            </div>
}