<section>
    <h1>Welcome to your Custom-Relationship-Manager (CRM)</h1>
    <p class="first-intro">This CRM system is your tool to get full control over your customer relationships 
        and creates solutions for customer analysis.</p>

    <div class="overview-container">
        <div class="info-container">
            <div class="headline-container">
                <i class="material-icons">account_balance</i>
                <h2>Dashboard</h2>
            </div>
            <p>Get a detailed overview of customer information and their purchasing behavior in the form of clear charts.</p>
        </div>

        <div class="info-container">
            <div class="headline-container">
                <i class="material-icons">account_circle</i>
                <h2>Customers</h2>
            </div>
            <p>Follow the sales trend of each customer by importing financial informations.</p>
        </div>
    
        <div class="info-container">
            <div class="headline-container">
                <i class="material-icons">all_inbox</i>
                <h2>Orders</h2>
            </div>
            <p>Get a complete overview of all orders and control their status.</p>
        </div>

        <div class="info-container">
            <div class="headline-container">
                <i class="material-icons">account_balance_wallet</i>
                <h2>Products</h2>
            </div>
            <p>Create your individual range of products.</p>
        </div>
    </div>
</section>