<section>
    <h1>This is your Custom-Relationship-Manager (CRM)</h1>
    <p>This CRM system is your tool to get full control over your customer relationships 
        and creates solutions for customer analysis.</p>

    <div class="overview-container">
        <div class="info-container">
            <h2>Dashboard</h2>
            <p>Get a detailed overview of customer information and their purchasing behavior in the form of clear charts.</p>
        </div>

        <div class="info-container">
            <h2>Customers</h2>
            <p>Follow the sales trend of each customer by importing financial informations.</p>
        </div>
    
        <div class="info-container">
            <h2>Orders</h2>
            <p>Get a complete overview of all orders and control their status.</p>
        </div>

        <div class="info-container">
            <h2>Products</h2>
            <p>Create your individual range of products.</p>
        </div>
    </div>
</section>