@import '../../styles.scss';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';

h1{
    color: $secondColor;
    font-size: 32px;
}

.first-intro{
    margin-left: 16px;
    margin-right: 16px;
}

.info-container{
    background-color: #002435;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 16px;

    .headline-container{
        @include displayFlex(flex-start);
        gap: 8px;
        margin-bottom: 8px;

        h2{
            margin: 0 !important;
        }

        i{
            color: $secondColor;
        }
    }
}