<mat-form-field appearance="outline" color="accent">
    <mat-label class="form-field">Selected product</mat-label>
    <mat-select (load)="createSingleOrderTask()" [(ngModel)]="selectedValues" name="product">
        @for (product of allProducts; track product) {
        <mat-option (click)="createSingleOrderTask()" [value]="product">{{product.title}}</mat-option>
        }
    </mat-select>
</mat-form-field>
<mat-form-field class="amount-field form-field" appearance="outline" color="accent">
    <input min="1" type="number" (change)="createSingleOrderTask()" [(ngModel)]="amount" [disabled]="isLoading" matInput class="input">
</mat-form-field>