@import '../../styles.scss';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';


.headline-container{
    @include displayFlex(space-between);
    color: $secondColor;

    h1{
    }
}


.line{
    height: 2px;
    width: 100%;
    background-color: $secondColor;
}

button{
    border: none;
    cursor: pointer;

    i{
        color: $bgColor;
        font-weight: 700;
        background-color: $fontColor;
        border-radius: 50%;
        padding: 8px;

    }
    &:hover{
        background-color: $secondColor;
        color: $fontColor;

        i{
            background-color: $secondColor;
            color: $fontColor;
        }
    }
}

.done{
    margin-top: 80px !important;
}

.order-container{
    @include displayFlex(space-between, center);
    margin-bottom: 16px;
    border: 2px solid $mainColor;
    border-radius: 16px;
    background-color: #002435;
    padding: 16px;
    margin-top: 16px;
    cursor: pointer;

    &:hover{
        border: 2px solid $secondColor;
    }

    .left{



        .amount-container{
            @include displayFlex(flex-start, flex-start);
            gap: 8px;
        }
    }

    .right{

        button{
            @include displayFlex();
        }
    }

    .text-container{
        width: 35%;
    }
}

