<section>
    <h1 mat-dialog-title>New Order</h1>
    <div mat-dialog-content>
        <p>What's the name of the order?</p>
        <div id="inputs">
            @for (input of inputs; track $index) {
                <app-single-order-input (singleProduct)="addOrderTask($event, $index)" [allProducts]="allProducts"></app-single-order-input>
            }

        </div>

        <div class="add-input-btn" (click)="addInputField()">
            <i class="material-icons">add</i>
        </div>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="isLoading" mat-button (click)="closeDialog()">No Thanks</button>
        <button [disabled]="isLoading" mat-button cdkFocusInitial (click)="saveOrder()">Ok</button>
    </div>
    @if (isLoading) {
    <mat-progress-bar class="progress-bar" mode="indeterminate" color="warn"></mat-progress-bar>
    }
</section>