<mat-drawer-container class="mat-drawer-container" [hasBackdrop]="false">
  <mat-drawer class="sidenav-container mobile-nav" #drawer [mode]="sideNavMode" 
  [opened]="sideNavOpen" [ngClass]="{'mobile-nav': currentBreakpoint == Breakpoints.HandsetPortrait}">
    <div class="logo">
      <div class="logo-text" >
        <span>Simple-</span>
        <span class="c">C</span>
        <span class="r">R</span>
        <span class="m">M</span>
      </div>
    </div>

    @if (currentBreakpoint == Breakpoints.HandsetPortrait) {
      <ul class="mobile-ul">
        <li routerLink="/dashboard" routerLinkActive="activeLink" (click)="drawer.toggle()"><i class="material-icons">account_balance</i>Dashboard</li>
        <li routerLink="/user" routerLinkActive="activeLink" (click)="drawer.toggle()"><i class="material-icons">account_circle</i>Customers</li>
        <li routerLink="/orders" routerLinkActive="activeLink" (click)="drawer.toggle()"><i class="material-icons">all_inbox</i>Orders</li>
        <li routerLink="/products" routerLinkActive="activeLink" (click)="drawer.toggle()"><i class="material-icons">account_balance_wallet</i>Products</li>
        <li routerLink="/about" routerLinkActive="activeLink" (click)="drawer.toggle()"><i class="material-icons">info</i>About</li>
    </ul>
    } @else {
      <ul>
        <li routerLink="/dashboard" routerLinkActive="activeLink"><i class="material-icons">account_balance</i>Dashboard</li>
        <li routerLink="/user" routerLinkActive="activeLink"><i class="material-icons">account_circle</i>Customers</li>
        <li routerLink="/orders" routerLinkActive="activeLink"><i class="material-icons">all_inbox</i>Orders</li>
        <li routerLink="/products" routerLinkActive="activeLink"><i class="material-icons">account_balance_wallet</i>Products</li>
        <li routerLink="/about" routerLinkActive="activeLink"><i class="material-icons">info</i>About</li>
      </ul>
    }
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar class="toolbar">
      <div class="container">
        <button mat-button (click)="drawer.toggle()">
          <i class="material-icons">menu</i>
        </button>
        
        <div class="logo-text" >
          <span>Simple-</span>
          <span class="c">C</span>
          <span class="r">R</span>
          <span class="m">M</span>
        </div>
      </div>
    </mat-toolbar>

    <div class="router-container" [@routeAnimations]="prepareRoute()">
      <router-outlet  #outlet="outlet"></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>