<mat-drawer-container class="mat-drawer-container" [hasBackdrop]="false">
  <mat-drawer class="sidenav-container" #drawer [mode]="'side'" [opened]="true">
    <div class="logo">
      Simple-CRM
    </div>

    <ul>
      <li routerLink="/dashboard" routerLinkActive="activeLink"><i class="material-icons">account_balance</i> Dashboard</li>
      <li routerLink="/user" routerLinkActive="activeLink"><i class="material-icons">account_circle</i> User</li>
      
    </ul>
  </mat-drawer>

  <mat-drawer-content>

    <p>
      <mat-toolbar class="toolbar">
        <button mat-icon-button (click)="drawer.toggle()">
          <i class="material-icons">menu</i>
        </button>
        
        <span>Simple CRM</span>
      </mat-toolbar>
    </p>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
