@import '../styles.scss';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';


.mat-drawer-container{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: $bgColor;
    color: $fontColor;


    .sidenav-container{
        width: 300px;
        font-size: 16px;
        background-color: $mainColor;
        color: $fontColor;
        @include displayFlex(center, center, column);

        .logo{
            border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            padding-left: 16px;
            padding-right: 16px;
            min-height: 56px;
            padding: 16px;
            font-size: 32px;
            font-weight: 900;
            color: $secondColor;
            
            @include displayFlex(center, center, row);
        }

        ul{
            list-style: none;
            @include displayFlex(center, center, column);
            padding-inline-start: 0px;
            width: 100%;

            li{
                display: inline-block;
                text-align: left;
                padding: 16px;
                width: calc(90% - 32px);
                font-size: 24px;
                font-weight: 400;
                cursor: pointer;
                @include displayFlex(start, center, row);
                gap: 8px;

                &:hover{
                    background-color: $secondHover;
                    border-radius: 16px;
                }
            }
        }
    }
}

.mat-toolbar, .mat-toolbar-single-row{
    background-color: #002435;
    color: $fontColor;
    font-size: 32px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    position: sticky;
    z-index: 99;
    top: 0;
    right: 0;
    box-shadow: 0px 0px 5px $mainColor;

    .container {
        min-height: 56px;
        height: 64px;
        width: 100%;
        padding-top: 16px;
        padding-bottom: 16px;
        position: relative;
        @include displayFlex(flex-end, center);

        button{
            background-color: $secondColor;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 16px;
            border-top-left-radius: 0px;
            border-top-right-radius: 16px;
            @include displayFlex(center, center);
            position: absolute;
            left: 0;
            height: 64px;
        }
    
        .logo-text{
            margin-right: 56px;
    
            .c{
                color: $secondColor;
            }
    
            .r{
                color: $mainColor;
            }
        }
    }
}

.router-container{
    margin-inline: 56px;
    margin-top: 16px;
}

.activeLink{
    background-color: rgba(0, 0, 0, 0.2) !important;
    border-radius: 16px;
}

.mobile-nav{
    width: 100% !important;
}


.mobile-ul{
    list-style: none;
    @include displayFlex(center, center, column);
    padding-inline-start: 0px;
    width: 100%;

    li{
        @include displayFlex(center !important, center, row);
        i{
        }
    }
}
