@import '../../styles.scss';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';

h1{
    font-size: 32px;
    font-weight: 700;
}

section{

    .list-item{
        border: 2px solid $mainColor;
        border-radius: 16px;
        background-color: #002435;
        cursor: pointer;
        margin-bottom: 16px;
        @include displayFlex(space-between);
        flex-wrap: wrap;
        row-gap: 16px;
        padding: 16px;
        cursor: pointer;
        position: relative;

        &:hover{
            border: 2px solid $secondColor;
        }

        .product-info {
            width: 250px;
            margin-right: 32px;
        }


        .date-container {
            width: fit-content;
            margin-right: 16px;
            @include displayFlex(center, flex-start, column);
        }

        .price-container{
            font-weight: 600;
        }

        .delete-btn{
            position: absolute;
            top: 16px;
            right: 16px;
            font-size: 16px;
            transition: 0.2s ease-in-out;

            &:hover{
                color: $secondColor;
                scale: 1.1;
            }
        }
    }

    .add-user-btn {
        background-color: $secondColor;
        color: $fontColor;
        position: fixed;
        bottom: 56px;
        right: 56px;
        border-radius: 50%;
        @include displayFlex(center, center);
        --mdc-icon-button-state-layer-size: 70px;
        cursor: pointer;  
    }
}

.empty-section{
    height: calc(100vh - 80px);
    width: 100%;
    @include displayFlex();

    .empty-container{
        border-radius: 16px;
        padding: 24px;
        font-size: 16px;
        @include displayFlex(center, center, column);
        gap: 16px;
        background-color: #002435;


        i{
            font-size: 160px !important;
            color: #264958;
        }
    }
}