@import '../../styles.scss';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';


section{
    background-color: $mainColor;
    border-radius: 16px;
    position: relative;
    border: 2px solid $fontColor;


    .progress-bar{
        position: absolute;
        bottom: 0;        
    }

    .mat-mdc-dialog-container, 
    .mdc-dialog__title, 
    .mdc-dialog__content,
    .mat-mdc-button:not(:disabled){
        color: $fontColor !important;
    }

    .name-container, 
    .address-container,
    .zip-container{
        @include displayFlex();
        gap: 16px;
    }
}

.mdc-text-field__input {
    color: $fontColor !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent !important;
}

.mat-mdc-text-field-wrapper .mdc-text-field .mdc-text-field--filled {
    background-color: transparent !important;
}


