<section>
    <h1 mat-dialog-title>Add user</h1>
    <div mat-dialog-content>
        <p>What's the name of the user?</p>

        <div class="name-container">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>First name</mat-label>
                <input [disabled]="isLoading" matInput [(ngModel)]="user.firstName" class="input">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>Last name</mat-label>
                <input [disabled]="isLoading" matInput [(ngModel)]="user.lastName" class="input">
            </mat-form-field>
        </div>

        <div class="address-container">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Street</mat-label>
                <input [disabled]="isLoading" matInput [(ngModel)]="user.street" class="input">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>City</mat-label>
                <input [disabled]="isLoading" matInput [(ngModel)]="user.city" class="input">
            </mat-form-field>
        </div>

        <div class="zip-container">
            <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>e-mail</mat-label>
                <input [disabled]="isLoading" matInput [(ngModel)]="user.email" class="input">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>Zipcode</mat-label>
                <input [disabled]="isLoading" matInput [(ngModel)]="user.zipCode" class="input">
            </mat-form-field>
        </div>

        <div class="date-container">
            <mat-form-field appearance="outline" color="accent" class="full-width">
                <mat-label>MM/DD/YYYY</mat-label>
                <input [disabled]="isLoading" matInput [matDatepicker]="picker1" [(ngModel)]="dateOfBirth" class="input">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
    </div>



    <div mat-dialog-actions>
        <button [disabled]="isLoading" mat-button (click)="onNoClick()">No Thanks</button>
        <button [disabled]="isLoading" mat-button cdkFocusInitial (click)="saveUser()">Ok</button>
    </div>
    @if (isLoading) {
        <mat-progress-bar class="progress-bar"  mode="indeterminate" color="warn"></mat-progress-bar>

    }
</section>