<h1>Customer</h1>

<section>
@if (userService.allUsers.length > 0) {
    <mat-list>
        @for (user of userService.allUsers; track user.id) {
            <mat-list-item [routerLink]="[user.idField]">
                <span matListItemTitle>{{ user.firstName }} {{ user.lastName }}</span>
                <span matListItemLine>{{ user.city }}</span>
            </mat-list-item>
        }
    </mat-list>
} @else {
    <div class="empty-section">
        <div class="empty-container">
            <i class="material-icons">no_accounts</i>
            <span>There are no customers at the moment</span>
        </div>
    </div>
}

    <button (click)="openAddUserDialog()" mat-icon-button class="add-user-btn" matTooltip="Add new user"
        matTooltipPosition="above">
        <i class="material-icons">person_add</i>
    </button>
</section>