@import '../../styles.scss';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';


section {

    mat-list-item{
        border: 2px solid $mainColor;
        border-radius: 16px;
        background-color: #002435;
        cursor: pointer;
        margin-bottom: 16px;
        @include displayFlex();

        span{
            width: fit-content;
        }

        &:hover{
            border: 2px solid $secondColor;
        }
    }


    .add-user-btn {
        background-color: $secondColor;
        color: $fontColor;
        position: fixed;
        bottom: 56px;
        right: 56px;
        @include displayFlex(center, center);
        --mdc-icon-button-state-layer-size: 70px;
    }
}



