<section>
    <h1 mat-dialog-title>Add user</h1>
    <div mat-dialog-content>
        <div class="name-container">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>First name</mat-label>
                <input [disabled]="isLoading" [value]="user.firstName" matInput [(ngModel)]="user.firstName" class="input">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>Last name</mat-label>
                <input [disabled]="isLoading" matInput [(ngModel)]="user.lastName" class="input">
            </mat-form-field>
        </div>

        <div class="address-container">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Street</mat-label>
                <input [disabled]="isLoading" matInput [(ngModel)]="user.street" class="input">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>City</mat-label>
                <input [disabled]="isLoading" matInput [(ngModel)]="user.city" class="input">
            </mat-form-field>
        </div>

        <div class="zip-container">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Zipcode</mat-label>
                <input [disabled]="isLoading" matInput [(ngModel)]="user.zipCode" class="input">
            </mat-form-field>

            <mat-form-field appearance="outline" color="accent">
                <mat-label>e-mail</mat-label>
                <input [disabled]="isLoading" matInput [(ngModel)]="user.email" class="input">
            </mat-form-field>
        </div>
    </div>


    <div mat-dialog-actions>
        <button [disabled]="isLoading" mat-button (click)="closeDialog()">Cancel</button>
        <button [disabled]="isLoading" mat-button cdkFocusInitial (click)="saveUser()">Save</button>
    </div>
    @if (isLoading) {
        <mat-progress-bar class="progress-bar"  mode="indeterminate" color="warn"></mat-progress-bar>
    }
</section>
