@import '../../styles.scss';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';

.dash-header {
    @include displayFlex(flex-start);
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.dash-container {
    padding: 16px;
    background-color: $fontColor;
    color: $bgColor;
    border-radius: 16px;
    @include displayFlex(center, center, column);
    cursor: pointer;


    &:hover {
        background-color: $secondColor;
        color: $fontColor;
    }

    h2 {
        font-size: 32px;
        font-weight: 900;
    }

    span {
        font-size: 24px;
        font-weight: 700;
    }
}

.wrap-charts {
    @include displayFlex();
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;


    .chart-container {
        border: 2px solid $mainColor;
        border-radius: 16px;
        padding: 16px;
        cursor: pointer;
        background-color: #002435;
        @include displayFlex();

        .chart {}

        &:hover {
            border: 2px solid $secondColor;
            //color: ,
        }
    }


    @media(max-width: 700px) {
        .chart-container {
            height: auto !important;
            width: 100% !important;
        }

        .chart {}
    }
}