@import '../../styles.scss';
$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';

.dash-header {
    @include displayFlex();
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.dash-container {
    padding: 16px;
    min-width: 200px;
    width: calc(25% - 44px);
    background-color: $fontColor;
    color: $bgColor;
    border-radius: 16px;
    @include displayFlex(space-between, center);
    cursor: pointer;

    &:hover {
        background-color: $secondColor;
        color: $fontColor;
    }

    i{
        font-size: 56px;
    }

    .dash-info{
        @include displayFlex(center, center, column);


        h2 {
            font-size: 32px;
            font-weight: 900;
        }
    
        span {
            font-size: 24px;
            font-weight: 700;
        }
    }
}

.wrap-charts {
    @include displayFlex();
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 16px;


    .chart-container {
        border: 2px solid $mainColor;
        border-radius: 16px;
        padding: 16px;
        cursor: pointer;
        background-color: #002435;
        @include displayFlex();

        .chart {}

        &:hover {
            border: 2px solid $secondColor;
            //color: ,
        }

        .full-width-chart{
            position: relative; 
            height: 30vh; 
            width: calc(100vw - 412px);
        }
    }





}