/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette3: (
    50 : #fee5e1,
    100 : #fcbfb3,
    200 : #fb9480,
    300 : #f9694d,
    400 : #f74927,
    500 : #f62901,
    600 : #f52401,
    700 : #f31f01,
    800 : #f21901,
    900 : #ef0f00,
    A100 : #ffffff,
    A200 : #ffe4e3,
    A400 : #ffb2b0,
    A700 : #ff9996,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette1: (
    50 : #e4eded,
    100 : #bcd1d3,
    200 : #8fb2b6,
    300 : #629399,
    400 : #407c83,
    500 : #1e656d,
    600 : #1a5d65,
    700 : #16535a,
    800 : #124950,
    900 : #0a373e,
    A100 : #76ecff,
    A200 : #43e5ff,
    A400 : #10deff,
    A700 : #00d3f6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette2: (
    50 : #e0e5e7,
    100 : #b3bfc4,
    200 : #80949d,
    300 : #4d6976,
    400 : #264958,
    500 : #00293b,
    600 : #002435,
    700 : #001f2d,
    800 : #001926,
    900 : #000f19,
    A100 : #58a5ff,
    A200 : #2589ff,
    A400 : #006ff1,
    A700 : #0063d7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

